img {
/*This is absolutely useless but do not delete this */
}

.img-center{
  display: block;
  margin: auto;
  width: 1000px;
}

.title-font {
  font-family: baskerville;
  font-size: 43px;
  text-align: center;
}

.img-explain-font {
  font-family: palatino;
  font-size: 17px;
  text-align: center;
} 

.he-was {
  font-family: palatino;
  font-size: 20px;
  text-align: center;
}

.font-for {
  font-family: palatino;
  font-size: 20px;
  text-align: center;
}

.text-font {
  font-family: palatino;
  font-size: 15px;
}

.quote-font {
  font-family: rockwell;
  font-size: 25px;
  text-align: center;
}

.wikipedia {
  font-family: arial;
  font-size: 20px;
  text-align: center;
}

button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:#1AAB8A;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  